.row{
    margin-bottom: 15px;
}

.form{
    
    width: 100%;
    color: #ffffff;
    padding: 20px;
}

.image_nav{
    float:left;
    margin-left: 0%;
}


.background_image{
    opacity: 10;
}

text{
    direction: none;
}

.btn.btn-primary{
    width: 400px;
    background-color: #ff0000;
    border: #ff0000;
}

.nav{
    background-color: black;
    height: 65px;
    padding-top: 15px;
    
}

.nav-link{
    color: white;
    
    
}

.nav-link.active {
    color: red;
}

.nav-link:hover {
    color: red;
  }

.separator{
    color:white;
    margin-top: 6px;
}

.color{
    background: linear-gradient(to right, #000000, #ff0000);
    width: 100.9%;
}

.card-body{
    background-color:rgba(255, 255, 255, 0);
    color: #ffffff;
}

.card-title{
    margin-bottom: 10px;
}

.card-text{
    margin-bottom:5px;
}

.foot{
    background-color: #000000;
    color: #ff0000;
}
