.form1{
    width: 1430px;
    border-style: ridge;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 20px;
    align-content: center;
    margin-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.custom-button {
    
    background-color: #ff0000; 
    color: rgb(255, 255, 255);
    padding: 10px 20px; 
    font-size: 16px;
    margin-left: 1180px;
    border-radius: 20px;
    width: 200px;
    
}

.background{
   margin-left: 2.2%;

}
.media{
    margin:auto;
    border-style: ridge;
    width: 700px;
    text-align: center;
    border-radius: 10px;
}
.imagename{
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.imagedescription{
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.boder{
    width: 600px;
    margin: auto;
}
