.overlay111 {
    position: relative;
    width: 100%;
}

.overlay111 img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 90%;
}
.overlay-text111 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -60%);
    text-align: center;
    color: rgb(0, 0, 0);
   
}
.img_ga111{
    font-size: 100px;
    color: #ff1515;
    font-weight: bold;
}

.media111 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.media-item111 {
  width: calc(25% - 20px);
  margin: 10px; /* Adjusted from 20px */
}

.media-image111 {
  width: 100%;
  height: 350px; /* Adjusted from 350px */
  object-fit: cover;
  border-radius: 10px; /* Adjusted from 20px */
}

.imagename111,
.imagedescription111 {
  margin-left: 10px; /* Adjusted from 20px */
  color: #fff; /* Change from #f1f1f1 to #fff for white */
}

  
  /* Dropdown button */

  .media-item111 {
    position: relative;
  }
  
  .dropdown111 {
    position: absolute;
    top: 360px; /* Adjust as needed */
    left: 230px; /* Adjust as needed */
    
  }
  
  .media-content111 {
    margin-left: 10px; /* Adjust as needed based on the width of the dropdown button */
    padding-top: 5px;
  }
.dropdown111 {
    position: absolute;
    top: 85%; /* Adjusted from 360px */
    right: 0; /* Adjusted from 230px */
}

.dropbtn111 {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    margin-top: 2px;
}

.dropdown-content111 {
    display: none;
    position: absolute;
    min-width: 0px;
    z-index: 1;
    margin-top: 2px;
}

.dropdown-content111 a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    

}

.dropdown-content111 a:hover {
    background-color: #f1f1f1;
}

.dropdown111:hover .dropdown-content111 {
    display: block;
}
