.overlay111 {
    position: relative;
    width: 100%;
}

.overlay111 img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.9; /* Changed to decimal value */
}

.overlay-text111 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -60%);
    text-align: center;
    color: rgb(0, 0, 0);
}

.img_ga111 {
    font-size: 100px;
    color: #ff1515;
    font-weight: bold;
}

.overlay222 {
    width: 50%;
    height: auto;
    margin-bottom: 20%;
    display: flex;
}

.overlay-text222 {
    position: relative;
    transform: translate(30%, 20%);
    text-align: left;
    color: rgb(255, 255, 255);
    width: 70%; /* Adjust width as needed */
    
}

.ph22 {
    font-size: 20px;
}

.overlay333 {
    position: relative;
    left: 60%;
    width: 30%;
    display: flex;
    margin-top: -30%;
}

.hh1 {
    font-size: 25px;
    color: #ff0000;
}

.hh22 {
    position: absolute;
    margin-left: 20px;
    margin-top: -38px;
    font-size: 25px;
    color: #ff0000;
}
.hh211 {
    position: absolute;
    margin-left: 20px;
    
    font-size: 25px;
    color: #ff0000;
}

.overlay444{
    background-color: #ff9696;
    margin-top: 350px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.butt44{
    padding-top: 40px;
    padding-bottom: 40px;
}

.custom-button44{
    width: 500px;
    height: 80px;
    border-radius: 10px;
    font-size: 25px;
    color: #ffffff;
    background-color: #ffffff;
    
}

