.column{
    background: linear-gradient(to right, #000000, #ff0000);
    margin: 0%;
}

.row{
    margin: 0%;
    text-align: center;
}

.card-body{
    background-color:rgba(255, 255, 255, 0);
    color: #ffffff;
}

.card-title{
    margin-bottom: 10px;
}
    
.card-text{
    margin-bottom:5px;
}

.bottom_foot{
    background-color: #271010;
    color: #ff0000;
   
    padding-bottom: 10px;
    
    text-align: center

}
.cus{
    margin-top: 20px;
}
hr{
    color: #ffffff;
    size: 10px;
    border: 3px solid rgb(255, 255, 255);
}
