.all_rules {
    background-image: url('../../../public/Images/red_and_black.jpg');
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.347) , rgba(255, 0, 0, 0.356));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    border: 2px solid #ff0000; 
    border-radius: 10px; 
    height: auto;
    width: auto;
    padding: 20px;
    margin: 100px 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Rules_topic {
    border: 2px solid rgb(113, 14, 14);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.551);
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.648) , rgba(255, 0, 0, 0.616)); */
    padding: 50px;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    width: auto;
    height: auto;
}
#Rt {
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(96, 14, 14);
    text-decoration: underline dashed;
}
.Rules_box {
    border: 2px solid rgb(113, 14, 14);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.551);
    padding: 50px;
    margin: 50px;
    text-align: left;
    width: auto;
    height: auto;
}
#rules {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: underline;
    color: black;

}
#rules_list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
