h2{
    color: #ffffff;
}

.table{
    width: 100%;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0); */
    background: transparent;
    /* background-image: url('../../../public/Images/red-black-brush-stroke-banner-background-perfect-canva.jpg' ); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.wrapper{
    /* background-image: url('../../../../public/Images/red\ and\ black.jpg' ); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.form-control.me-2{
    width: 400px;
    justify-content: flex-end;
}

.btn.btn-outline-success{
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

.btn.btn-primary-custom{
    background-color: red;
    margin-left: 10px;
    color: #ffffff;
}

.btn.btn-download{
    background-color: red;
    color: #ffffff;
}

.h2center{
    display: 'flex';
    text-align: end;
}

@media print {
    table.table {
        color: black; /* Set text color to black */
    }

    .print-hide {
        display: none; /* Hide buttons with print-hide class */
    }

    .hide-on-print {
        display: none;
    }

    .btn {
        display: none;
    }

    h2 {
        display: block;
        color: rgb(0, 0, 0);
    }
}
