.container1 {
        max-width: 600px;
        margin: 50px auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 50px;
        border: 2px solid #878686;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        
    }
    
.user-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius:10px;
    }
    
.form-group {
        margin-bottom: 15px;
    }
    
label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: medium;
    }
    
input,
select {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
        border: 2px solid #ccc;
    }
    
.btn2 {
        background-color: #000;
        color: aliceblue;
        align-content: center;
        /* margin-right: 5px; */
        margin-right: 5px;
        padding: 5px 20px;
        font-size: 10px;
        font-weight: bold;
        border: 2px solid #ff0000;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        /* cursor: auto; */
    }
    
.btn2:hover {
        background-color: #ff2828;
        border: 2px solid #000000;
        color: rgb(0, 0, 0);
    }
    
.audience-details {
        margin-top: 20px;
    }
.ap {
        font-size: large;
        font-weight: bold;

    }
.h2 {
        color: #ffffff;
        font-weight: bold; 
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        max-width: 400px;
        cursor: default;
    
    }
    


    .user-details-table {
        display: flex;
        flex-direction: column;
        background-color: #615c5c;
        border: 2px solid #000 ;
        border-radius: 8px;
    }
    
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .label {
        width: 150px; /* Adjust as needed */
        font-weight: bold;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 20px;
        cursor: default;
        padding: 5px;
    }
    
    .value {
        flex: 1;
        padding-left: 10px;
        padding: 5px;
        text-align: left;
        margin-left: 20px;
        cursor: copy;
    }
    
    .btn-container1 {
        margin-top: 40px;
    }
    
 